<h1>Login</h1>
<%= form_for @user do |f| %>
 <div>
     <%= f.label :username%>
     <%= f.text_field :username%>
 </div>
 <div>
     <%= f.label :password%>
     <%= f.password_field :password%>
 </div>
      <%=f.submit "login"%>

<% end %>
  
 
  <%= link_to('Log in with Facebook!', '/auth/facebook') %>


 