
<% if !logged_in? %>
<div>
  
  <p>welcome to talktome</p>
</div>
<% else %>
 <h1>welcome back <%=current_user.name%> </h1>
<h2> My Posts </h2>

<% current_user.posts.each do |post| %>
  <div>
  <br>
    <h4><%= post.title.upcase %></h4>
    <p><%= truncate(post.body, :length => 25) %></p>
    <p><%= post.published_date %></p>
    <%= link_to "Read Post", post_path(post) %>
  </div>

<% end %>
<h2> My Resources </h2>
<% current_user.resources.each do |r| %>
  <div>
  <br>
    <h4><%= r.disorder.upcase %></h4>
  
   <%= link_to "view resource", resource_path(r) %>
  </div>

<% end %>


<% end %>
</div>
<% end %>