<h5>Add Comment</h5>
<%= form_for ([@post, user.comments.build]) do |f| %>
<% if @error %>
          <div id="error_explanation">
            <p><%= @error %></p>
          </div>
     <%end%>
<p>
 <%=f.label :username%>
  <%=f.text_field(:username)%>
</p>
<p>
 <%=f.label :body%>
  <%=f.text_field(:body)%>
</p>
<p>
 <%=f.submit %>
  
</p>

  
 <% end %>