<%= form_for @comment do |f| %>
<% if @error %>
          <div id="error_explanation">
            <p><%= @error %></p>
          </div>
     <%end%>
<p>
 <%=f.label :username%>
  <%=current_user.username%>
</p>
<p>
 <%=f.label :body%>
  <%=f.text_field(:body)%>
</p>
<p>
 <%=f.submit %>
  
</p>

  
 <% end %>
