<h1>resources</h1>
<%= form_tag(resources_path, method: "get") do %>
  <%= text_field_tag :term, nil,  id: "Search", placeholder: "enter search term" %>
  
  <%= submit_tag "Search"%>
<% end %>

<%= link_to "add resource", new_resource_path %>


<H1> video resources</H1>
<br>
<% @resources.by_category("video").each do |resource| %>
  <div>

    <h3><%= resource.disorder%> - </h3>
    
    <%= link_to "view resource", resource_path(resource) %>

  </div>
<% end %>

<H1> Article resources</H1>
<br>
<% @resources.by_category("Article").each do |resource| %>
  <div>

    <h3><%= resource.disorder%> - </h3>
    
    <%= link_to "view resource", resource_path(resource) %>

  </div>
<% end %>

<H1> Book resources</H1>
<br>
<% @resources.by_category("book").each do |resource| %>
  <div>

    <h3><%= resource.disorder%> - </h3>
    
    <%= link_to "view resource", resource_path(resource) %>

  </div>
<% end %>
 <%= link_to "My resources", user_resources_path(current_user) %>