<h1>a particular disorder resource links</h1>
<h1><%= @resource.disorder%></h1>
<h1><%= @resource.category%></h1>
<h1><%= link_to @resource.resource_link%></h1>



<br>
<%= link_to "Edit resource", edit_resource_path(@resource) %>
<%= link_to "Delete resource", resource_path(@resource), method: :delete %>


