<h1>posts</h1>

<%= form_tag(posts_path(current_user), method: "get") do %>
  <%= text_field_tag :term, nil,  id: "Search", placeholder: "enter search term" %>

  <%= submit_tag "Search"%>
<% end %>

<% @posts.each do |post| %>
  <div>
    <h3><%= post.title.upcase %></h3>
    <p><%= truncate(post.body, :length => 25) %></p>
    <p><%= post.published_date %></p>
    <%= link_to "Read Post", post_path(post) %>
  </div>
<% end %>
    <%= link_to "create new Post", new_post_path %>
